<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
</head>

<body>
    <h1 id="theme"></h1>

    <form action="/new" method="POST">
        <textarea name="content"></textarea><br>
        <input type="submit" value="Save" />
    </form>

    {{ range. }}
        <p>{{ .Time }} : {{ .Content }}</p>
        <label><a href="/edit/{{ .Id }}">[編集]</a></label>
        <a href="/delete/{{ .Id }}">[削除]</a></label>
    {{ end }}

    <script>
        document.querySelector('#theme').textContent = 'ToDoリスト';
    </script>
</body>

</html>
